<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/default_layout}"
	  layout:fragment="Content"
	  th:with="menuIdGroup ='05',menuId ='01'">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--	<link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script id="searchListTmpl" type="text/x-jquery-tmpl">
		<tr onclick="viewDetail('${id}');" style="cursor: pointer;">
			<td>${id}</td>
			<td>{{html getReqSpNm(reqSp)}}</td>
			<td>{{html maskName(reqNm)}}</td>
			<td>${reqPhonNum}</td>
			<td>${planMno}</td>
			<td>${planCompanyNm}</td>
			<td>${reqProdNm}</td>
			<td>{{html getDateStr(createDate)}}</td>
		</tr>
	</script>
	<script type="text/javascript">

		var authType = "";
		document.addEventListener('DOMContentLoaded', () => {

			authType = "[[${session.loginUser.authType}]]";
			if(authType =="HOST") {
				var authCompany = "[[${session.loginUser.companyCode}]]";
				checkCompanyList(authCompany);
				$("#searchDvCompay").hide();
			}
			searchList();

			const closeBtn = document.querySelector('.gift-select__close');
			const cancelBtn = document.querySelector('.gift-select-close4');
			closeBtn.addEventListener('click', closeModal);
			cancelBtn.addEventListener('click', closeModal);

		});

		function changeCombo(){
			currentPage = 1;
			searchList()
		}


		function checkCompanyList(valueToCheck) {
		    // 모든 체크박스를 선택
		    const checkboxes = document.querySelectorAll('input[type="checkbox"][name="searchCompanyList"]');

		    // 값이 동일한 체크박스를 찾아 체크
		    checkboxes.forEach(checkbox => {
		        if (checkbox.value == valueToCheck) {
		            checkbox.checked = true;
		            checkbox.disabled = false; //
		        } else {
		        	checkbox.checked = false; // 체크 해제
		            checkbox.disabled = true; // 비활성화
		        }
		    });
		}



		function getReqSpNm(sp) {
			var ret = "";
			if(sp == "L") {
			  	ret= "단순랜딩";
			}
			if(sp == "O") {
				ret= "아웃링크";
			}
			if(sp == "S") {
				ret= "영업링크";
			}
			return ret;
		}

		function renderPage(page) {
			currentPage = page;
			searchList();
		}


		function searchList() {
			var page = currentPage;
			if(page ==null|| page == "") page =1;
	  		var pageSize = $("#pageSizse").val();
	  		var searchReqSp = $("input[name='searchReqSp']:checked").val()

			var params = {
				searchType : $("#searchType").val(),
				 keyword : $("#keyword").val(),
				 searchStartDt : $("#searchStartDt").val(),
				 searchEndDt : $("#searchEndDt").val(),
				 searchreqSp:searchReqSp,
				 searchCompanyList : getCheckedCompanies("searchCompanyList"),
				 searchMno : getCheckedCompanies("searchMno"),
				 page : page,
				 recordSize : pageSize
				}

				$.ajax({
				   url : '/pmb/plan-request/ajaxlist',
				   type : 'POST',
				   dataType : "json",
				   contentType:"application/json",
				   data : JSON.stringify(params),
				   success: function (data) {
						//if(page == 1) {
							$('#searchList').empty();
						//}


						$('#totla_count').html("총 "+data.totalCnt+"건");
						if(data.totalCnt > 0) {
							$('#searchListTmpl').tmpl(data.data).appendTo('#searchList');
						}

						renderPagination(page,data.totalCnt,pageSize);
					},
					error : function(request, status, error){
						showAlert(error);
					},
					complete:function(){
					   // $('#loading').addClass('display-none');
					}
				});
		}


		function selCompany(id) {

			if(id=="") {
				$("input[id^='searchCompanyList']").prop("checked", false);
				$("#searchCompanyListALL").prop("checked", true);
			} else {
				$("#searchCompanyListALL").prop("checked", false);
			}

		}


		function selMno(id) {

			if(id=="") {
				$("input[id^='searchMno']").prop("checked", false);
				$("#searchMnoAll").prop("checked", true);
			} else {
				$("#searchMnoAll").prop("checked", false);
			}
		}



		function viewDetail(searchId) {

			$.ajax({
			   url : '/pmb/plan-request/detail',
			   type : 'POST',
			   data: { id: searchId }, // 요청 데이터
			   success: function (data) {

				   if(data.code ==200) {
					   var resdata = data.data;
					   $("#dvtreqSp").html(getReqSpNm(resdata.reqSp));

					   var linkUrl = getLinkUrl(resdata.linkUrl,resdata.urlSmt);
					   $("#dvtlinkUrl").html("<a href='"+linkUrl+"' target='_blank'> "+linkUrl+"</a>");

					   $("#dvtreqNm").html(resdata.reqNm);
					   $("#dvtreqPhonNum").html(resdata.reqPhonNum);
					   $("#dvtplanMno").html(resdata.planMno);
					   $("#dvtplanCompanyNm").html(resdata.planCompanyNm);
					   $("#dvtreqProdNm").html(resdata.reqProdNm);
					   $("#dvtnormalPrice").html(getPriceStr(resdata.normalPrice));
					   $("#dvtsalePrice").html(getPriceStr(resdata.salePrice));
					   $("#dvtpromotionPeriod").html(resdata.promotionPeriod);
						const modal = document.getElementById('detailViewModal');
						modal.style.display = 'flex';
				   } else {
					   showAlert(data.message);
				   }


				},
				error : function(request, status, error){
					showAlert(error);
				},
				complete:function(){
				   // $('#loading').addClass('display-none');
				}
			});


		}

		// 모달 닫기 함수
		function closeModal() {
			const modal = document.getElementById('detailViewModal');
			modal.style.display = 'none'; // 모달 숨기기
		}


		function toggleSearchInit(){
			$("#keyword").val('');
			$("#searchReqSp01").prop('checked', true); // 유입구분

			if(authType !="HOST") selCompany("");
			selMno("");

			$('.period-button[value="180"]').trigger("click");
			currentPage = 1;
		}

		//02.03 - sancho
		function downloadExcel() {
			//페이징 기본(필수)
			var page = 1;
			if(page =="" || page == null) page =1;
			//var _recordSize =  parseInt($("#recordSize").val());
			var _recordSize =  999;

			var searchReqSp = $("input[name='searchReqSp']:checked").val()

			var params = {
							searchType : $("#searchType").val(),
							 keyword : $("#keyword").val(),
							 searchStartDt : $("#searchStartDt").val(),
							 searchEndDt : $("#searchEndDt").val(),
							 searchreqSp:searchReqSp,
							 searchCompanyList : getCheckedCompanies("searchCompanyList"),
							 searchMno : getCheckedCompanies("searchMno"),
							 page : page,
							 recordSize : _recordSize
							}



			var _url = '/pmb/plan-request/exceldown';

			downloadExcelProc(params,_url,"PlanRequestList");

		}
	</script>
</th:block>

<div class="main-content">
		<div class="container-fluid">
			 <!-- 로케이션 & 제목 영역 추가 -->
			<div class="page-header mb-4">
				<div class="location mb-2">
					<small class="text-secondary">
						<i class="fas fa-home me-1"></i>
						<a href="/mbm/adminuser/list">홈</a> > <a href="/pmb/plan-request/list">신청관리</a> > <a href="/pmb/plan-request/list">요금제 신청내역</a>
					</small>
				</div>
				<h2 class="page-title fs-4 mb-4">요금제 신청내역</h2>
			</div>

			<div class="search-section">
				<!-- 검색어 -->
				<div class="col-12 mb-2">
					<div class="form-row full-width">
						<div class="form-label mb-0">검색어</div>
						<div class="position-relative col-9">
							<i class="fas fa-search position-absolute" style="left: 16px; top: 15.5px; color: #94a3b8;"></i>
							<input type="text" class="form-control ps-5" placeholder="검색어를 입력하세요" id="keyword" name="keyword">
						</div>
					</div>
				</div>
				<div class="row align-items-center mb-3">
					<div class="col-12">
						<div class="d-flex align-items-center gap-3">
							<div class="form-label mb-0">유입구분</div>
							<div class="radio-group">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="searchReqSp" id="searchReqSp01" value="" checked>
									<label class="form-check-label" for="searchReqSp01">전체</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="searchReqSp" id="searchReqSp02" value="L">
									<label class="form-check-label" for="searchReqSp02">단순랜딩</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="searchReqSp" id="searchReqSp03" value="S">
									<label class="form-check-label" for="searchReqSp03">영업링크</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mb-2">
					<div class="form-row full-width">
						<div class="d-flex align-items-center gap-3">
							<div class="form-label mb-0">신청일</div>
							<div class="d-flex align-items-center gap-2">
								<input type="date" class="form-control" style="width: 150px" id="searchStartDt">
								<span class="text-secondary">-</span>
								<input type="date" class="form-control" style="width: 150px" id="searchEndDt">
							</div>
							<div class="d-flex gap-2">
								<button class="period-button" value="0">오늘</button>
								<button class="period-button" value="7">1주일</button>
								<button class="period-button" value="30">1개월</button>
								<button class="period-button" value="90">3개월</button>
								<button class="period-button" value="180">6개월</button>
								<button class="period-button" value="365">1년</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 상세검색 영역 -->
				<div id="detailSearchArea" class="col-12" style="display: none;">
					<div class="form-row mb-3">
						  <div class="form-label mb-0">MNO</div>
						  <div class="form-control-wrap">
							  <div class="form-check-group">
								  <div class="form-check form-check-inline">
									  <input class="form-check-input" type="checkbox" id="searchMnoAll" value="" checked onclick="selMno('');">
									  <label class="form-check-label" for="searchMnoAll">전체</label>
								  </div>
								  <div class="form-check form-check-inline">
									  <input class="form-check-input" type="checkbox" id="searchMno01" name="searchMno" value="SKT" onclick="selMno('SKT');">
									  <label class="form-check-label" for="searchMno01">SKT</label>
								  </div>
								  <div class="form-check form-check-inline">
									  <input class="form-check-input" type="checkbox" id="searchMno02" name="searchMno" value="KT" onclick="selMno('KT');">
									  <label class="form-check-label" for="searchMno02">KT</label>
								  </div>
								  <div class="form-check form-check-inline">
									  <input class="form-check-input" type="checkbox" id="searchMno03" name="searchMno" value="LGU" onclick="selMno('LGU');">
									  <label class="form-check-label" for="searchMno03">U+</label>
								  </div>
							  </div>
						  </div>
					  </div>

				 <!-- 사업자 -->
				  <div class="form-row mb-3" id="searchDvCompay">
					  <div class="form-label mb-0">사업자</div>
					  <div class="form-control-wrap">
						  <div class="form-check-group">
							  <div class="form-check form-check-inline">
								  <input class="form-check-input" type="checkbox" id="searchCompanyListALL" value="" onclick="selCompany('');" checked>
								  <label class="form-check-label" for="searchCompanyListALL">전체</label>
							  </div>
						  	<th:block th:each="item,index : ${compnyList}">
							   <div class="form-check form-check-inline">
								   <input class="form-check-input" type="checkbox" name="searchCompanyList" th:id="${'searchCompanyList' + index.index}"  th:value="${item.id}" th:onclick="|selCompany(${item.id});|">
								   <label class="form-check-label" th:for="${'searchCompanyList' + index.index}" th:text="${item.name}">KG모바일</label>
							   </div>
							  </th:block>
						  </div>
					  </div>
				  </div>
				</div>


				<div class="row">
					<div class="col-12 text-end mt-2">
						<button class="btn btn-light me-2 btn-sm" onclick="toggleSearchInit()">
							<i class="fas fa-redo"></i>
							초기화
						</button>
						<button class="btn btn-primary btn-sm me-2" onclick="toggleDetailSearch()">
							<i class="fas fa-chevron-down"></i>
							상세검색
						</button>
						<button class="btn btn-primary btn-sm" onclick="searchList();">
							<i class="fas fa-search"></i>
							검색
						</button>
					</div>
				</div>
			</div>

			<div class="table-section">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<div class="d-flex align-items-center gap-3">
						<div class="stats-badge">
							<i class="fas fa-calculator me-1"></i>
							<span id="totla_count">총 450건</span>
						</div>
						<select class="form-select" style="width: 100px" id="pageSizse" onchange="changeCombo()">
							<option value= "10">10개씩</option>
							<option value= "20">20개씩</option>
							<option value= "30">30개씩</option>
							<option value= "40">40개씩</option>
							<option value= "50">50개씩</option>
						</select>
					</div>
					<div class="header-actions">
						<button class="btn btn-light btn-sm">
							<i class="fas fa-download"></i>
							다운로드
						</button>
						<!-- <button class="btn btn-primary btn-sm" onclick="location.href='/mbm/companyuser/edit?id='">
							<i class="fas fa-plus"></i>
							신규등록
						</button> -->
					</div>
				</div>

				<table class="table custom-table">
					<thead>
						<tr>
							<th>번호</th>
							<th>유입구분</th>
							<th>신청자</th>
							<th>연락처</th>
							<th>MNO</th>
							<th>사업자</th>
							<th>요금제</th>
							<th>신청일</th>
						</tr>
					</thead>
					<tbody id="searchList">

					</tbody>
				</table>

				<div class="d-flex justify-content-left mt-4">
					<ul class="pagination">

					</ul>
				</div>
			</div>
		</div>


<div class="gift-manager__modal" id="detailViewModal" style="display: none;">
	<div class="gift-manager__modal-content">
		<div class="gift-manager__modal-header">
			<div class="gift-manager__modal-title"> 신청내역 상세보기</div>
			<span class="gift-select__close">&times;</span>
		</div>
		<div class="custom-table-outer">
			<table class="table custom-table">
<!-- 				<tr>
					<th>유입구분</th>
					<td id="dvtreqSp"> </td>
				</tr> -->
				<tr>
					<th>랜딩URL</th>
					<td id="dvtlinkUrl"> </td>
				</tr>
				<tr>
					<th>신청자</th>
					<td id="dvtreqNm"> </td>
				</tr>
				<tr>
					<th>연락처</th>
					<td id="dvtreqPhonNum"> </td>
				</tr>
				<tr>
					<th>MNO</th>
					<td id="dvtplanMno"> </td>
				</tr>
				<tr>
					<th>사업자</th>
					<td id="dvtplanCompanyNm"> </td>
				</tr>
				<tr>
					<th>요금제명</th>
					<td id="dvtreqProdNm"> </td>
				</tr>
				<tr>
					<th>기본요금</th>
					<td id="dvtnormalPrice"> </td>
				</tr>
				<tr>
					<th>할인요금</th>
					<td id="dvtsalePrice"> </td>
				</tr>
				<tr>
					<th>할인기간</th>
					<td id="dvtpromotionPeriod"> </td>
				</tr>
			</table>
		</div>
		<div class="gift-select__footer">
			<button class="gift-select__btn gift-select__btn--apply gift-select-close4">확인</button>
		</div>
	</div>
</div>

</DIV>