<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ucomp.web.order.mapper.PlanOrderMapper">

	<sql id="listWhere">
		<!-- 입점사 id -->
		<if test='companyId != null and companyId !=""'>
			AND a.company_id = #{companyId}
		</if>
		
		<!-- 주문자 id -->
		<if test='orderUserId != null and orderUserId !=""'>
			AND a.entr_user_id = #{orderUserId}
		</if>
		
		
		<!-- 주문번호 -->
		<if test='orderSeq != null and orderSeq !=""'>
			AND a.order_seq = #{orderSeq}
		</if>
		
		
		<!-- 주문상태 -->
		<if test='searchOrderState != null and searchOrderState !=""'>
			AND a.order_state = #{searchOrderState}
		</if>
		
		<!-- 주문 조회 구분 -->
		<if test='searchType != null and searchType !=""'>
			<choose>
				<when test="searchType == '01'">  
					AND a.order_delete_yn = 'N'
					AND a.order_send_yn = 'N'
				</when>
				<otherwise>  
					AND a.order_delete_yn = 'N'
				</otherwise>
			</choose>
		</if>
		
		
				
	
    	<!-- 주문 저장일 조회-->
    	<if test='searchStDttm != null and searchStDttm !=""'>
			AND a.create_date  <![CDATA[>=]]> #{searchStDttm}
		</if>
		<if test='searchEdDttm != null and searchEdDttm !=""'>
			AND a.create_date <![CDATA[<=]]> #{searchEdDttm}
		</if>	
	    	
	</sql>
	
	<sql id="Base_Column_list">
			a.id
		,a.company_id
		,a.order_seq
		,a.order_dttm
		,a.telecom_cd
		,a.prod_dv
		,a.plan_id
		,a.plan_cd
		,a.plan_nm
		,a.settle_div
		,a.entr_type
		,a.customer_type
		,a.charge_reduct_type
		,a.new_phone_num1
		,a.new_phone_num2
		,a.pre_telecom_cd
		,a.pre_mvno_cd
		,AES_DECRYPT(FROM_BASE64(a.pre_phone_num), 'tb_pmb_plan_online_open') prePhoneNum
		,a.num_mov_cert_method
		,a.num_mov_cert_val
		,a.usim_pay_type
		,a.usim_model_nm
		,a.usim_serial_num
		,a.usim_type
		,a.usim_buy
		,a.esim_model
		,a.esim_memory
		,a.esim_number
		,a.esim_imei1
		,a.esim_imei2
		,a.esim_eid				
		,AES_DECRYPT(FROM_BASE64(a.order_nm), 'tb_pmb_plan_online_open') orderNm
		,AES_DECRYPT(FROM_BASE64(a.user_ssn), 'tb_pmb_plan_online_open') userSsn
		,a.guard_nm
		,a.guard_ssn
		,a.guard_rel
		,a.user_country
		,a.identity_method
		,a.identity_ci
		,a.simple_cert_sp
		,AES_DECRYPT(FROM_BASE64(a.order_phone), 'tb_pmb_plan_online_open') orderPhone
		,AES_DECRYPT(FROM_BASE64(a.order_tel), 'tb_pmb_plan_online_open') orderTel
		,AES_DECRYPT(FROM_BASE64(a.order_email), 'tb_pmb_plan_online_open') orderEmail
		,AES_DECRYPT(FROM_BASE64(a.order_zip_cd), 'tb_pmb_plan_online_open') orderZipCd
		,AES_DECRYPT(FROM_BASE64(a.order_addr), 'tb_pmb_plan_online_open') orderAddr
		,AES_DECRYPT(FROM_BASE64(a.order_addr1), 'tb_pmb_plan_online_open') orderAddr1
		,AES_DECRYPT(FROM_BASE64(a.order_addr2), 'tb_pmb_plan_online_open') orderAddr2
		,a.advance_bank_cd
		,a.advance_bank_acct
		,a.advance_amt
		,a.bill_cd
		,AES_DECRYPT(FROM_BASE64(a.bill_zip_cd), 'tb_pmb_plan_online_open') billZipCd
		,AES_DECRYPT(FROM_BASE64(a.bill_addr1), 'tb_pmb_plan_online_open') billAddr1
		,AES_DECRYPT(FROM_BASE64(a.bill_addr2), 'tb_pmb_plan_online_open') billAddr2
		,AES_DECRYPT(FROM_BASE64(a.bill_addr), 'tb_pmb_plan_online_open') billAddr
		,AES_DECRYPT(FROM_BASE64(a.recv_nm), 'tb_pmb_plan_online_open') recvNm
		,AES_DECRYPT(FROM_BASE64(a.recv_phone), 'tb_pmb_plan_online_open') recvPhone
		,AES_DECRYPT(FROM_BASE64(a.recv_tel), 'tb_pmb_plan_online_open') recvTel
		,AES_DECRYPT(FROM_BASE64(a.recv_zip_cd), 'tb_pmb_plan_online_open') recvZipCd
		,AES_DECRYPT(FROM_BASE64(a.recv_addr), 'tb_pmb_plan_online_open') recvAddr
		,AES_DECRYPT(FROM_BASE64(a.recv_addr1), 'tb_pmb_plan_online_open') recvAddr1
		,AES_DECRYPT(FROM_BASE64(a.recv_addr2), 'tb_pmb_plan_online_open') recvAddr2
		,a.tran_req_cont
		,a.mobile_nm
		,a.model_nm
		,a.used_yn
		,a.memory_size
		,a.mobile_color_cd
		,a.mobile_price
		,a.mobile_suprt_price
		,a.mobile_add_suprt_price
		,a.instmnt_org_price
		,a.mobile_suprt_chrg_fee
		,a.instmnt_mm_cnt
		,a.instmnt_chrg_price
		,a.mobile_mm_pay_price
		,a.contract_mm_cnt
		,a.model_div
		,a.basic_price
		,a.event_disc_price
		,a.after_price
		,a.promotion_period		
		,a.contract_disc_price
		,a.month_pay_price
		,a.entr_price
		,a.entr_price_disc
		,a.usim_price
		,a.usim_disc_price
		,a.num_mov_fee
		,a.settle_method
		,AES_DECRYPT(FROM_BASE64(a.owner_nm), 'tb_pmb_plan_online_open') ownerNm
		,a.bank_cd
		,a.bank_acct_no
		,a.card_cd
		,a.card_num
		,a.card_valid_dt
		,a.gifts_nm
		,a.order_state
		,a.order_state_dttm
		,a.order_state_sub
		,a.cancel_request_state
		,a.upd_id
		,a.order_call_cont
		,a.lock_app_cd
		,a.dis_auth_join_div
		,a.driver_number
		,a.auth_org_dt
		,a.driver_secure_num
		,a.customer_ip
		,a.agree_title
		,a.agree_yn
		,a.etc_req_cont
		,a.guard_img1
		,a.guard_img2
		,a.tran_comp_cd
		,a.tran_no
		,a.tran_link_url
		,a.entr_user_id
		,a.point_plan_yn
		,a.biz_plan_mngId
		,a.recom_sp
		,a.recom_user_id
		,a.order_send_yn
		,a.order_send_dttm
		,a.open_comp_dttm
		,a.create_date
		,a.create_id
		,a.modified_date
		,a.modified_id	
		,b.username entrUserNm
		,c.name AS companyNm
		,GET_CODE_NAME('order_state',a.order_state) orderStateNm
		,GET_CODE_NAME('pre_mvno_cd',a.pre_mvno_cd) preMvnoNm
		,GET_CODE_NAME('bank_co_cd',a.bank_cd) bankNm
		,GET_CODE_NAME('card_co_cd',a.card_cd) cardNm
		,d.plan_name_smt_sub planNm2
	</sql>
	
	<select id="getList" parameterType="kr.co.ucomp.web.order.dto.PlanOrderSearchDto" resultType="kr.co.ucomp.web.order.entity.PlanOrderEntity">
		  SELECT *  FROM (
			  SELECT
		            <include refid="Base_Column_list" />
				FROM tb_pmb_plan_online_open a LEFT join tb_mbm_user b 
				ON a.create_id = b.id
				LEFT join tb_mbm_company_list c 
				ON a.company_id = c.id
				LEFT join tb_pmb_plan_list d
				ON a.plan_id = d.id
				WHERE 1=1
		        <include refid="listWhere" />
	      ) tb
		  ORDER BY id DESC

	</select>

	<select id="getListCount" parameterType="kr.co.ucomp.web.order.dto.PlanOrderSearchDto" resultType="Long">
		  SELECT
	            count(1)
			FROM tb_pmb_plan_online_open a LEFT join tb_mbm_user b 
			ON a.create_id = b.id
			LEFT join tb_mbm_company_list c 
			ON a.company_id = c.id
			LEFT join tb_pmb_plan_list d
			ON a.plan_id = d.id
			WHERE 1=1
	        <include refid="listWhere" />
	</select>
	
	
	<select id="getDetail" parameterType="int" resultType="kr.co.ucomp.web.order.entity.PlanOrderEntity">
		SELECT
	            <include refid="Base_Column_list" />
			FROM tb_pmb_plan_online_open a LEFT join tb_mbm_user b 
			ON a.create_id = b.id
			LEFT join tb_mbm_company_list c 
			ON a.company_id = c.id
			LEFT join tb_pmb_plan_list d
			ON a.plan_id = d.id
	        WHERE a.id=#{id}
	</select>
	
		
    <insert id="create" parameterType="kr.co.ucomp.web.order.entity.PlanOrderEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO tb_pmb_plan_online_open (
		 company_id
		,order_seq
		,order_dttm
		,telecom_cd
		,prod_dv
		,plan_id
		,plan_cd
		,plan_nm
		,settle_div
		,entr_type
		,customer_type
		,charge_reduct_type
		,new_phone_num1
		,new_phone_num2
		,pre_telecom_cd
		,pre_mvno_cd
		,pre_phone_num
		,num_mov_cert_method
		,num_mov_cert_val
		,usim_pay_type
		,usim_model_nm
		,usim_serial_num
		,usim_type
		,usim_buy
		,esim_model
		,esim_memory
		,esim_number
		,esim_imei1
		,esim_imei2
		,esim_eid
		,order_nm
		,user_ssn
		,guard_nm
		,guard_ssn
		,guard_rel
		,user_country
		,identity_method
		,identity_ci
		,simple_cert_sp
		,order_phone
		,order_tel
		,order_email
		,order_zip_cd
		,order_addr
		,order_addr1
		,order_addr2
		,advance_bank_cd
		,advance_bank_acct
		,advance_amt
		,bill_cd
		,bill_zip_cd
		,bill_addr1
		,bill_addr2
		,bill_addr
		,recv_nm
		,recv_phone
		,recv_tel
		,recv_zip_cd
		,recv_addr
		,recv_addr1
		,recv_addr2
		,tran_req_cont
		,mobile_nm
		,model_nm
		,used_yn
		,memory_size
		,mobile_color_cd
		,mobile_price
		,mobile_suprt_price
		,mobile_add_suprt_price
		,instmnt_org_price
		,mobile_suprt_chrg_fee
		,instmnt_mm_cnt
		,instmnt_chrg_price
		,mobile_mm_pay_price
		,contract_mm_cnt
		,model_div
		,basic_price
		,event_disc_price
		,after_price
		,promotion_period
		,contract_disc_price				
		,month_pay_price
		,entr_price
		,entr_price_disc
		,usim_price
		,usim_disc_price
		,num_mov_fee
		,settle_method
		,owner_nm
		,bank_cd
		,bank_acct_no
		,card_cd
		,card_num
		,card_valid_dt
		,gifts_nm
		,order_state
		,order_state_sub
		,order_state_dttm
		,cancel_request_state
		,upd_id
		,order_call_cont
		,lock_app_cd
		,dis_auth_join_div
		,driver_number
		,auth_org_dt
		,driver_secure_num
		,customer_ip
		,agree_title
		,agree_yn
		,etc_req_cont
		,guard_img1
		,guard_img2
		,tran_comp_cd
		,tran_no
		,tran_link_url
		,entr_user_id
		,point_plan_yn
		,biz_plan_mngId
		,recom_sp
		,recom_user_id
		,order_send_yn
		,create_id
        ) VALUES (
			#{companyId},
			#{orderSeq},
			#{orderDttm},
			#{telecomCd},
			#{prodDv},
			#{planId},
			#{planCd},
			#{planNm},
			#{settleDiv},
			#{entrType},
			#{customerType},
			#{chargeReductType},
			#{newPhoneNum1},
			#{newPhoneNum2},
			#{preTelecomCd},
			#{preMvnoCd},
			TO_BASE64(AES_ENCRYPT(#{prePhoneNum},'tb_pmb_plan_online_open')),
			#{numMovCertMethod},
			#{numMovCertVal},
			#{usimPayType},
			#{usimModelNm},
			#{usimSerialNum},
			#{usimType},
			#{usimBuy},			
			#{esimModel},
			#{esimMemory},
			#{esimNumber},
			#{esimImei1},
			#{esimImei2},
			#{esimEid},
			TO_BASE64(AES_ENCRYPT(#{orderNm},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{userSsn},'tb_pmb_plan_online_open')),
			#{guardNm},
			#{guardSsn},
			#{guardRel},
			#{userCountry},
			#{identityMethod},
			#{identityCi},
			#{simpleCertSp},			
			TO_BASE64(AES_ENCRYPT(#{orderPhone},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderTel},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderEmail},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderZipCd},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderAddr},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderAddr1},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{orderAddr2},'tb_pmb_plan_online_open')),
			#{advanceBankCd},
			#{advanceBankAcct},
			#{advanceAmt},
			#{billCd},
			TO_BASE64(AES_ENCRYPT(#{billZipCd},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{billAddr1},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{billAddr2},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{billAddr},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvNm},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvPhone},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvTel},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvZipCd},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvAddr},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvAddr1},'tb_pmb_plan_online_open')),
			TO_BASE64(AES_ENCRYPT(#{recvAddr2},'tb_pmb_plan_online_open')),
			#{tranReqCont},
			#{mobileNm},
			#{modelNm},
			#{usedYn},
			#{memorySize},
			#{mobileColorCd},
			#{mobilePrice},
			#{mobileSuprtPrice},
			#{mobileAddSuprtPrice},
			#{instmntOrgPrice},
			#{mobileSuprtChrgFee},
			#{instmntMmCnt},
			#{instmntChrgPrice},
			#{mobileMmPayPrice},
			#{contractMmCnt},
			#{modelDiv},
			#{basicPrice},
			#{eventDiscPrice},
			#{afterPrice},
			#{promotionPeriod},
			#{contractDiscPrice},			
			#{monthPayPrice},
			#{entrPrice},
			#{entrPriceDisc},
			#{usimPrice},
			#{usimDiscPrice},
			#{numMovFee},
			#{settleMethod},
			TO_BASE64(AES_ENCRYPT(#{ownerNm},'tb_pmb_plan_online_open')),
			#{bankCd},
			#{bankAcctNo},
			#{cardCd},
			#{cardNum},
			#{cardValidDt},
			#{giftsNm},
			#{orderState},
			#{orderStateSub},
			#{orderStateDttm},
			#{cancelRequestState},
			#{updId},
			#{orderCallCont},
			#{lockAppCd},
			#{disAuthJoinDiv},
			#{driverNumber},
			#{authOrgDt},
			#{driverSecureNum},
			#{customerIp},
			#{agreeTitle},
			#{agreeYn},
			#{etcReqCont},
			#{guardImg1},
			#{guardImg2},
			#{tranCompCd},
			#{tranNo},
			#{tranLinkUrl},
			#{entrUserId},
			#{pointPlanYn},
			#{bizPlanMngId},
			#{recomSp},
			#{recomUserId},
			'N',
			#{createId}
        )
    </insert>
    
    
	<update id="update"  parameterType="kr.co.ucomp.web.order.entity.PlanOrderEntity" >
		UPDATE tb_pmb_plan_online_open SET 
					modified_id=#{modifiedId},
					<!-- 주문 전송여부 -->
					<if test='orderSendYn != null and orderSendYn !=""'>
						order_send_yn  = #{orderSendYn},
					</if>
					<!-- 주문 전송일시 -->
					<if test='orderSendDttm != null and orderSendDttm !=""'>
						order_send_dttm  = #{orderSendDttm},
					</if>
					<!-- 주문 진행 상태 명-->
					<if test='orderSendState != null and orderSendState !=""'>
						order_send_state  = #{orderSendState},
					</if>
					<!-- 주문 진행 상태 -->
					<if test='orderState != null and orderState !=""'>
						order_state  = #{orderState},
					</if>
					<!-- 주문 상태 변경일시 -->
					<if test='orderStateDttm != null and orderStateDttm !=""'>
						order_state_dttm  = #{orderStateDttm},
					</if>

					<!-- 택배사 -->
					<if test='tranCompCd != null and tranCompCd !=""'>
						tran_comp_cd  = #{tranCompCd},
					</if>
					<!-- 택배송장번호 -->
					<if test='tranNo != null and tranNo !=""'>
						tran_no  = #{tranNo},
					</if>					
					<!-- 택배 배송정보 URL -->
					<if test='tranLinkUrl != null and tranLinkUrl !=""'>
						tran_link_url  = #{tranLinkUrl},
					</if>
					
					<!-- 입점사 주문상태코드 -->
					<if test='orderStateHost != null and orderStateHost !=""'>
						order_state_host  = #{orderStateHost},
					</if>
					
					<!-- 입점사 주문번호 -->
					<if test='orderIdHost != null and orderIdHost !=""'>
						order_id_host  = #{orderIdHost},
					</if>
					
					<!-- 본인 인증 ci 값 -->
					<if test='identityCi != null and identityCi !=""'>
						identity_ci  = #{identityCi},
					</if>

					modified_date=NOW()
		WHERE id=#{id};
	</update>
	
	<delete id="delete" parameterType="int">
		UPDATE tb_pmb_plan_online_open SET sale_status = 0
	    WHERE id=#{id}
	</delete>
	
	 <insert id="createOrderState" parameterType="kr.co.ucomp.web.order.entity.OrderStateEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO tb_pmb_plan_order_state (
		order_id
		,order_state		
		<if test='orderMemo != null and orderMemo !=""'>
		,order_memo
		</if>
		,account_num
		<if test='openCompDttm != null and openCompDttm !=""'>
		,open_comp_dttm
		</if>
		<if test='openTelNum != null and openTelNum !=""'>
		,open_tel_num
		</if>
		,order_state_host
	) VALUES (
		#{orderId},
		#{orderState},		
		<if test='orderMemo != null and orderMemo !=""'>
		#{orderMemo},
		</if>
		#{accountNum},
		<if test='openCompDttm != null and openCompDttm !=""'>
		#{openCompDttm},
		</if>
		<if test='openTelNum != null and openTelNum !=""'>
		#{openTelNum},
		</if>
		#{orderStateHost}
	);		
	</insert>
	
	
	<select id="getListState" parameterType="kr.co.ucomp.web.order.dto.PlanOrderSearchDto" resultType="kr.co.ucomp.web.order.entity.OrderStateEntity">
		   SELECT
		     id
			,order_id
			,order_state
			,order_state_host
			,order_memo
			,account_num
			,open_comp_dttm
			,open_tel_num
			,create_date
	 	  FROM tb_pmb_plan_order_state 
	 	  WHERE 1=1
	 	  <!-- 주문번호 -->
		<if test='orderId != null and orderId !=""'>
			AND order_id = #{orderId}
		</if> 
 	    ORDER BY id DESC

	</select>
	
		
</mapper>