<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ucomp.web.svc.banner.mapper.BannerPlanMapper">


    <sql id="listWhere">
    	<!-- 아이디 조회 -->
    	<if test='searchId != null and searchId !=""'>
    		AND id = #{searchId}
    	</if>
    	<!-- 배너 명 조회 -->
   		<if test='searchBannerId != null and searchBannerId !=""'>
			AND banner_id = #{searchBannerId}
		</if>		

    </sql>

	<sql id="Base_Column_list">
		id
		,banner_id
		,plan_id
	</sql>
	

    <select id="list" parameterType="kr.co.ucomp.web.svc.banner.dto.BannerPlanCreateDTO" resultType="kr.co.ucomp.web.svc.banner.entity.BannerPlanEntity">
        SELECT
            <include refid="Base_Column_list" />
        FROM
            tb_svc_banner_plan_list
        WHERE 1=1
        <include refid="listWhere"/>
        order by id asc
    </select>
    
    <select id="bannerPlan" parameterType="kr.co.ucomp.web.svc.banner.dto.BannerPlanSearchDTO" resultType="kr.co.ucomp.web.svc.banner.entity.BannerPlanEntity">
    	SELECT
            <include refid="Base_Column_list" />
        FROM
            tb_svc_banner_plan_list
        WHERE 1=1
        <include refid="listWhere"/>
    </select>
    
    <select id="bannerPlanList" parameterType="kr.co.ucomp.web.svc.banner.dto.BannerPlanSearchDTO" resultType="kr.co.ucomp.web.svc.banner.entity.BannerPlanEntity">
    	SELECT
            a.id
			,a.banner_id
			,a.plan_id
			,a.use_yn
			,a.order_no
			,b.uuid
			,b.plan_name
        FROM
            tb_svc_banner_plan_list a
        LEFT JOIN 
        	tb_pmb_plan_list b
        ON a.plan_id = b.id
        WHERE 1=1
        	AND a.banner_id = #{searchBannerId} 
        order by a.order_no
    </select>
    
    
    <select id="listCount" parameterType="kr.co.ucomp.web.svc.banner.dto.BannerPlanCreateDTO" resultType="Long">
        SELECT count(1)
        FROM
            tb_svc_banner_plan_list
        WHERE 1=1
        <include refid="listWhere"/>
    </select>

    <insert id="create" parameterType="kr.co.ucomp.web.svc.banner.entity.BannerPlanEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tb_svc_banner_plan_list (
          	banner_id
			,plan_id
			,use_yn
			,order_no
        ) VALUES (
            #{bannerId},
            #{planId},
            #{useYn},
            #{orderNo}
        )
    </insert>
	
	<update id="update" parameterType="kr.co.ucomp.web.svc.banner.entity.BannerPlanEntity">
		UPDATE tb_svc_banner_plan_list SET
			banner_id = #{bannerId}
			,plan_id = #{planId}
			,use_yn = #{useYn}
			,order_no = #{orderNo}
		WHERE id = #{id}
	</update>
  
    <delete id="delete" parameterType="int">
        DELETE FROM tb_svc_banner_plan_list
        WHERE id = #{id}
    </delete>


</mapper>