<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ucomp.web.plan.mapper.PlanFreebieMapper">

	<sql id="listWhereInfo">
		<where>
			
			<if test='keyword != null and keyword !=""'>
				AND content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test='displayYn != null and displayYn !=""'>
				AND display_yn = #{displayYn}
			</if>
						
		</where>
	</sql>
	
	
	<!--  ========================================= freebie manage ============================================================ -->
	<sql id="Base_Column_list_Info">
		id
		,content
		,display_yn
		,create_date
		,create_id
		,GET_ADMIN_USER_NM(create_id) as createNm
		,modified_date
		,modified_id
		,GET_ADMIN_USER_NM(modified_id) as modifiedNm
				
	</sql>

   	<select id="infolist" parameterType="kr.co.ucomp.web.plan.dto.PlanFreebieSearchDto" resultType="kr.co.ucomp.web.plan.entity.PlanFreebieEntity">
		  SELECT
	            <include refid="Base_Column_list_Info" />
	        FROM
	            tb_pmb_plan_freebie
	        <include refid="listWhereInfo" />
	        ORDER BY id
	        LIMIT #{offset}, #{recordSize}

	</select>

	<select id="infolistCount" parameterType="kr.co.ucomp.web.plan.dto.PlanFreebieSearchDto" resultType="Long">
		  SELECT
	            count(1)
	        FROM
	            tb_pmb_plan_freebie
	        <include refid="listWhereInfo" />
	</select>
	
	<select id="infoDetail" parameterType="int" resultType="kr.co.ucomp.web.plan.entity.PlanFreebieEntity">
		SELECT
	            <include refid="Base_Column_list_Info" />
	        FROM
	            tb_pmb_plan_freebie
	        WHERE id=#{id}
	</select>	
	
    <insert id="createInfo" parameterType="kr.co.ucomp.web.plan.entity.PlanFreebieEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tb_pmb_plan_freebie (content, display_yn, create_id, modified_id)
        VALUES (
	        #{content}, 
	        #{displayYn}, 
	        #{createId}, 
	        #{modifiedId}
        )
    </insert>

    <update id="updateInfo" parameterType="kr.co.ucomp.web.plan.entity.PlanFreebieEntity">
        UPDATE tb_pmb_plan_freebie SET
            content = #{content}, 
            display_yn = #{displayYn}, 
            modified_date = NOW(), 
            modified_id = #{modifiedId}
        WHERE id=#{id}
    </update>

    <delete id="deleteInfo" parameterType="int">
        DELETE FROM tb_pmb_plan_freebie
        WHERE id=#{id}
    </delete>


	<!--  ========================================= freebie mapping manage ============================================================ -->

		<sql id="listWhereMap">
		<if test='keyword != null and keyword !=""'>
			AND c.content LIKE CONCAT('%', #{keyword}, '%')
		</if>
		
		<if test='displayYn != null and displayYn !=""'>
			AND c.display_yn = #{displayYn}
		</if>
		
		<if test='planId != null and planId !=""'>
			AND a.plan_list_id = #{planId}
		</if>
				
	</sql>
	
	<sql id="Base_Column_list_map">
		a.id
		,a.plan_list_id
		,b.plan_name as planName
		,a.plan_freebie_id
		,a.order_no
		,c.content as freebieContent
		,a.create_date
		,a.create_id
		,c.title as freebieTitle
		,GET_ADMIN_USER_NM(a.create_id) as createNm
		,a.modified_date
		,a.modified_id
		,GET_ADMIN_USER_NM(a.modified_id) as modifiedNm
				
	</sql>

   	<select id="maplist" parameterType="kr.co.ucomp.web.plan.dto.PlanFreebieSearchDto" resultType="kr.co.ucomp.web.plan.entity.PlanFreebieMappingEntity">
		  SELECT
	            <include refid="Base_Column_list_map" />
	        FROM
	            tb_pmb_plan_freebie_list a,  tb_pmb_plan_list b, tb_pmb_plan_freebie c
			WHERE a.plan_list_id = b.id
			AND a.plan_freebie_id = c.id 
	        <include refid="listWhereMap" />
			ORDER BY a.plan_list_id, a.order_no
	        LIMIT #{offset}, #{recordSize}

	</select>

	<select id="maplistCount" parameterType="kr.co.ucomp.web.plan.dto.PlanFreebieSearchDto" resultType="Long">
		  SELECT
	            count(1)
	        FROM
	            tb_pmb_plan_freebie_list a,  tb_pmb_plan_list b, tb_pmb_plan_freebie c
			WHERE a.plan_list_id = b.id
			AND a.plan_freebie_id = c.id
	        <include refid="listWhereMap" />
	</select>
	
	<select id="mapDetail" parameterType="int" resultType="kr.co.ucomp.web.plan.entity.PlanFreebieMappingEntity">
		SELECT
	            <include refid="Base_Column_list_map" />
	        FROM
	            tb_pmb_plan_freebie_list a,  tb_pmb_plan_list b, tb_pmb_plan_freebie c
			WHERE a.plan_list_id = b.id
	        AND id=#{id}
	</select>	
	
    <insert id="createmap" parameterType="kr.co.ucomp.web.plan.entity.PlanFreebieMappingEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tb_pmb_plan_freebie_list (plan_list_id, plan_freebie_id,order_no,create_id, modified_id)
        VALUES (
	        #{planListId},
	        #{planfreebieId}, 
	        #{orderNo},
	        #{createId}, 
	        #{modifiedId}
        )
    </insert>

    <update id="updatemap" parameterType="kr.co.ucomp.web.plan.entity.PlanFreebieMappingEntity">
        UPDATE tb_pmb_plan_freebie_list SET
            plan_list_id = #{planListId}, 
            plan_freebie_id = #{planfreebieId},
            order_no = #{orderNo}, 
            modified_date = NOW(), 
            modified_id = #{modifiedId}
        WHERE id=#{id}
    </update>

    <delete id="deletemap" parameterType="int">
        DELETE FROM tb_pmb_plan_freebie_list
        WHERE id=#{id}
    </delete>



   	<select id="maplistAll" parameterType="kr.co.ucomp.web.plan.dto.PlanFreebieSearchDto" resultType="kr.co.ucomp.web.plan.entity.PlanFreebieMappingEntity">
		  SELECT
	            <include refid="Base_Column_list_map" />
	        FROM
	            tb_pmb_plan_freebie_list a,  tb_pmb_plan_list b, tb_pmb_plan_freebie c
			WHERE a.plan_list_id = b.id
			AND a.plan_freebie_id = c.id 
	        <include refid="listWhereMap" />
	        ORDER BY a.order_no asc, id

	</select>
	<!--  ========================================= benefit mapping manage ============================================================ -->


</mapper>