<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default_layout}"
	  layout:fragment="Content"
	  th:with="subPageTitle ='찜한 요금제', layoutSubTitleYN='Y', funcType ='zzimdelete', menuId='05' "><!-- 헤더에 아이콘 on -->

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
	$( document ).ready(function() {
		getLastViewPlanList();
	})
	
	function readMore(){
		var nowpage = $('#nowpage').val();
		var newpage = Number(nowpage) +1;
		$('#nowpage').val(newpage);
		
		getLastViewPlanList();
	}
	
	function getLastViewPlanList() {
		var nowpage 		= $('#nowpage').val()		;
		var params = {keyword : "",searchType : "2", page : nowpage, recordSize : 5}
		$.ajax({
			url : '/pmb/plan_zzim/getZzimPlanList',
			type : 'POST',
			dataType : "json",
			contentType:"application/json",
			data : JSON.stringify(params),
			beforeSend: function(xhr){
			    xhr.setRequestHeader(header,token);
			},
			success: function (data) {
				
				if(data.totalCnt == 0){
					$('#lastViewSection').remove();
					$('#readMoreBtn').hide();
					
					//찜 요금제가 없으면, 기본 [아직 찜한...] / 추천딜 목록 보여 준다.
					getZzimNoDataPlanlist();
				}else{
					
					$('#nodataSection').remove();
					$('#nodataSection2').remove();
					$('#nodataFloating').remove();
					
					$.each(data.data, function(idx, obj){
						obj.displayPrice = 0;
					});
					console.log(data.data);
					$('#planListTmpl').tmpl(data.data).appendTo('#lastViewplanList');
					
					var tCnt = data.totalCnt;
					if(nowpage*5 >= tCnt){
						$('#readMoreBtn').hide();
					}else{
						$('#readMoreBtn').show();
					}
				}
				
			},
			error : function(request, status, error){
				alertModalShow(error,"");
			},
			complete:function(){
			}
		});
	}
	
	
	function readMoreNoData(){
		var nowpage = $('#nowpage').val();
		var newpage = Number(nowpage) +1;
		$('#nowpage').val(newpage);
		
		getZzimNoDataPlanlist();
	}
		
		
	//Zzim data 없을 때 추천딜을 보여 준다.
	function getZzimNoDataPlanlist() {
		var nowpage 		= $('#nowpage').val()		;
		var params = {keyword : "",searchType : "2", page : nowpage, recordSize : 5}
		$.ajax({
			url : '/users/getZzimNoDataPlanlist',
			type : 'POST',
			dataType : "json",
			contentType:"application/json",
			data : JSON.stringify(params),
			beforeSend: function(xhr){
			    xhr.setRequestHeader(header,token);
			},
			success: function (data) {
				
				if(data.totalCnt != 0){
					
					$.each(data.data, function(idx, obj){
						obj.displayPrice = 0;
					});
					$('#planListTmpl').tmpl(data.data).appendTo('#noDataPlanList');
					
					var tCnt = data.totalCnt;
					if(nowpage*5 >= tCnt){
						$('#readMoreBtnNoData').hide();
					}else{
						$('#readMoreBtnNoData').show();
					}
				}
			},
			error : function(request, status, error){
				//alertModalShow(error,"");	//추천딜이 없으면, 얼럿 발생. 추천딜 정책 결정 필요.
			},
			complete:function(){
			}
		});
	}
</script>
</th:block>


	<!-- Container -->
	<main role="main" class="container">
		
		<input type="hidden" name="nowpage"			id="nowpage" 			value="1">
		
		
		<!-- content -->
		<div class="content F-MY01-04-page">
			
			
			<!-- -----------------------------------------No Data----------------------------------------- -->
			<!-- Case 노데이터 섹션 -->
			<section class="nodata-sec"  id="nodataSection">
				<div class="sec-inner">
					<!-- 찜한 요금제 없음 -->
					<div class="nodata">
						<i class="ui-icn icn-100-nodata-bookmark" aria-hidden="true"></i>
						<p class="nodata-tit"><strong>아직 찜한 요금제가 없어요.</strong></p>
						<p class="nodata-txt"><strong>요금제 추천이 필요하신가요?</strong></p>
					</div>
					<!-- // 찜한 요금제 없음 -->
				</div>
			</section>
			<!-- // Case 노데이터 섹션 -->
			
			<!-- 상품 리스트 섹션 -->
			<section class="ratePlanC-sec" id="nodataSection2">
				<div class="sec-inner">
					<div class="sec-header">
						<h2 class="sec-tit">많은 선택을 받고 있는 요금제예요.</h2>
					</div>
					<div class="sec-body">
						<!-- 요금제 공통 타입 C : 요금제 상품 리스트 -->
						<div class="ratePlanC-list-wrap">
							<ul class="ratePlanC-list" id="noDataPlanList">
							</ul>

							<!-- Case 목록이 많은 경우 더보기 -->
							<button type="button" class="ui-btn btn-more-list"  onclick="javascript:readMoreNoData();" id="readMoreBtnNoData">
								<i class="ui-icn icn-16-more-list-gr" aria-hidden="true"></i>
								<span>더보기</span>
							</button>
						</div>
						<!-- // 요금제 공통 타입 C : 요금제 상품 리스트 -->
					</div>
				</div>
			</section>

			<!-- 플로팅 섹션 -->
			<section class="floating-sec" id="nodataFloating">
				<div class="sec-inner">
					<button type="button" class="ui-btn btn-action primary" onclick="location.href='/pbm/plan/planList/mvno'">
						<span>요금제 더 둘러보기</span>
					</button>
				</div>
			</section>
			<!-- // 페이지 섹션 -->
			
			
			
			
			
			
			
			
			<!-- ----------------------------------------- Data List ----------------------------------------- -->
			<!-- 상품 리스트 섹션 -->
			<section class="ratePlanC-sec" id="lastViewSection">
				<div class="sec-inner">
					<div class="sec-body">
						<!-- 요금제 공통 타입 C : 요금제 상품 리스트 -->
						<div class="ratePlanC-list-wrap">
							<ul class="ratePlanC-list" id="lastViewplanList">
							</ul>

							<!-- Case 목록이 많은 경우 더보기 -->
							<button type="button" class="ui-btn btn-more-list" onclick="javascript:readMore();" id="readMoreBtn">
								<i class="ui-icn icn-16-more-list-gr" aria-hidden="true"></i>
								<span>더보기</span>
							</button>

						</div>
						<!-- // 요금제 공통 타입 C : 요금제 상품 리스트 -->
					</div>
				</div>
			</section>
			<!-- // 상품 리스트 섹션 -->

			
		</div>
		<!-- // content -->
	</main>
	<!-- // Container -->
	<!-- // Container -->
	
</html>