<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/default_layout}"
	  layout:fragment="Content"
	  th:with="subPageTitle ='', layoutSubTitleYN='Y', layoutFooterYn='Y' ">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
 
<script type="text/javascript">
	var viewPage = 1;
	$( document ).ready(function() {
		
		getPlanList();
		
		$("input[type=checkbox][name=frmMonth]").change( function () {
			var value = $(this).val();              // value
	        var checked = $(this).prop('checked');
			if(value == 12 && checked == true) {
				$("#frmMonth24").prop("checked",false);
				
			}
			if(value == 24 && checked == true) {
				$("#frmMonth12").prop("checked",false);
			}
			 getPlanListReset();
		});
		
		var subTitleNm = "[[${bannerInfo.bannerName}]]";
		$("#subPageTitleNm").html(subTitleNm);
		
	});
	
	
	function getPlanListReset() {
		viewPage = 1;
		$("#btnPlanListMore").show();
		getPlanList();
	}
	
	function getPlanListMore() {
		viewPage = viewPage +1;
		getPlanList();
	}
	
	function getPlanList() {
			
	  		var page = viewPage;
	  		var pageSize = 10;
	  		var sortSp = $("#planSearchSortSp").find(".is-selected").attr("value");

			var params = {
			     keyword : "",
				 searchSaleSp : "SALE",
				 searchBannerId : "[[${bannerId}]]",
				 searchOrderType : sortSp,
				 page : page,
				 recordSize : pageSize
			    }
			
				$.ajax({
				   url : '/pbm/plan/getPlanlist',
			       type : 'POST',
			       dataType : "json",
			       contentType:"application/json",
				   data : JSON.stringify(params),
				   beforeSend: function(xhr){
				       xhr.setRequestHeader(header,token);
				    },
					success: function (data) {
						if(data.code == 200) {
							var totalCnt = data.totalCnt;
							var viewListCnt = viewPage * pageSize;
							if(viewListCnt >= totalCnt) {
								$("#btnPlanListMore").hide();
							}
							if(page == 1) {
								$('#planList').empty();	
							}
							
							if(data.totalCnt ==0) {
								$('#nodataPlanListTmpl').tmpl(null).appendTo('#planList');
							} else {
								var result = data.data;
								var displayPrice = 0;
								if($("#frmMonth12").prop("checked")) {
									displayPrice = 12;
								}
								
								if($("#frmMonth24").prop("checked")) {
									displayPrice = 24;
								}
								
								result.forEach(function(itm) {
									itm.displayPrice = displayPrice;
								 });
								$('#planListTmpl').tmpl(data.data).appendTo('#planList');
								setPopover('ui-popover popover-style1'); //동적 리스트 생성후 툴팁 function 다시로드
							}
							if(viewListCnt >= totalCnt) {
								$("#btnPlanListMore").hide();		
							}
							
							
							 
						} else {
							alertModalShow(data.message,"");
						}
						  
				    },
					error : function(request, status, error){
						alertModalShow(error,"");
			        },
			        complete:function(){
			           // $('#loading').addClass('display-none');
			        }
				});
		}
</script>	
</th:block>
  
<!-- Container -->
<main role="main" class="container">
	<!-- content -->
	<div class="content F-M03-page">
		<!-- 주간베스트 요금제 섹션 -->
		<section class="week-best-sec">
			<!-- <div class="sec-inner">
				<div class="week-best-bnr">
					<h2 class="bnr-tit">세모통 주간 베스트 10</h2>
					<p class="bnr-explain">11월 주간 요금제 랭킹!</p>
					<p class="bnr-img" aria-hidden="true">
						<img src="/images/common/img-140-week-best.png" alt="">
					</p> 
				</div>
			</div> -->
			<div class="sec-inner">
				<img th:src="@{${bannerInfo.imageMo}}" th:alt="${bannerInfo.bannerAlt}" class="only-mo" />
				<img th:src="@{${bannerInfo.imagePc}}" th:alt="${bannerInfo.bannerAlt}" class="only-pc" />
			</div>			
		</section>
		<!-- // 주간베스트 요금제 섹션 -->

		<!-- 상품 리스트 섹션 -->
		<section class="ratePlanC-sec">
			<div class="sec-inner">
				<!-- 요금제 상품그룹 -->
				<div class="ratePlanC-list-wrap">
					<!-- 요금제 상품 툴바 -->
					<div class="ratePlanC-toolbar">
						<div class="opt">
							<!-- checkbox.scss에 포함 -->
							<div class="ui-switch xs">
								<input type="checkbox" name="frmMonth" id="frmMonth12" value="12" />
								<label for="frmMonth12"></label>
							</div>
							<p>12개월 총액</p>
							<button type="button" class="ui-btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="auto"
								data-bs-content="할인기간 포함된 12개월 요금 총액이에요.">
								<i class="ui-icn icn-16-plan-quse-gr" aria-label="툴팁"></i>
							</button>
						</div>
						<div class="opt">
							<!-- checkbox.scss에 포함 -->
							<div class="ui-switch xs">
								<input type="checkbox" name="frmMonth" id="frmMonth24" value="24" />
								<label for="frmMonth24"></label>
							</div>
							<p>24개월 총액</p>
							<button type="button" class="ui-btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="auto"
								data-bs-content="할인기간 포함된 24개월 요금 총액이에요.">
								<i class="ui-icn icn-16-plan-quse-gr" aria-label="툴팁"></i>
							</button>
						</div>
						<div class="sort">
							<!-- 2차 수정 : 모든화면 추천순제외 -->
							<button type="button" class="ui-btn" id="frmSort" role="combobox" aria-haspopup="listbox" data-bs-toggle="modal" data-bs-target="#selectSortPlanModal">
								<i class="ui-icn icn-16-sort-gr" aria-hidden="true"></i>
								<span>낮은 가격 순</span>
								<i class="ui-icn icn-16-select-arw" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<!-- // 요금제 상품 툴바 -->

					<!-- 요금제 공통 타입 C : 요금제 상품 리스트 -->
					<ul class="ratePlanC-list" id="planList">
						
						
					</ul>
					<!-- // 요금제 공통 타입 C : 요금제 상품 리스트 -->

					<!-- Case 목록이 많은 경우 더보기 -->
					<button type="button" class="ui-btn btn-more-list" onclick="getPlanListMore();" id="btnPlanListMore">
						<i class="ui-icn icn-16-more-list-gr" aria-hidden="true"></i>
						<span>더보기</span>
					</button>
				</div>
				<!-- // 요금제 상품그룹 -->
			</div>
		</section>
		<!-- // 상품 섹션 -->

		<!-- 상품추천 섹션 -->
		
		<section class="recom-bnr-sec" th:if="${not #lists.isEmpty(middleBannerList)}">
			<div class="sec-inner">
				<div class="sec-header">
					<h2 class="sec-tit">초저가와 결합하면 좋은<br>인터넷 상품 추천드려요!</h2>
				</div>
				<div class="sec-inner" th:each="list : ${middleBannerList}">
					<button type="button" class="event-bnr" th:attr="onclick=|navigateTo('${list.url}');|">
						<img th:src="@{${list.imageMo}}" th:alt="${list.bannerAlt}" class="only-mo" />
						<img th:src="@{${list.imagePc}}" th:alt="${list.bannerAlt}" class="only-pc" />
					</button>
				</div>
			</div>
		</section>
		<!-- // 상품추천 섹션 -->
	</div>
	<!-- // content -->

</main>
<!-- // Container -->

</html>
