<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>고객님께 요금을 추천드리기 위해<br> 데이터가 얼마나 필요하신지 알아볼게요. </p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 요금제 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supData" value="1" />
					<span class="rdo"><span>핫스팟 이용이 많고 RPG 게임을 해요​. <br>100GB 이상​</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supData" value="2" />
					<span class="rdo"><span>고화질 영상, 유튜브를 많이 봐요. <br>50GB~100GB 미만</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supData" value="3" />
					<span class="rdo"><span>동영상 위주로 봐요​. <br>10~50GB 미만</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supData" value="4" />
					<span class="rdo"><span>검색, 카톡, 출퇴근길 음악을 들어요​. <br>5GB ~ 10GB 미만</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supData" value="5" />
					<span class="rdo"><span>데이터는 와이파이를 주로 써요​. <br>~ 5GB 미만</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
