<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>고객님께 요금을 추천드리기 위해 <br> 몇 가지 질문을 드릴게요.</p>
			<p>사용 중인 통신사를 알려주세요.</p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 챗봇 설문 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="mno" value="SKT"/>
					<span class="rdo"><span>SKT</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="mno" value="KT"/>
					<span class="rdo"><span>KT</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="mno" value="LGU"/>
					<span class="rdo"><span>U+</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="mno" value=""/>
					<span class="rdo"><span>사용중인 통신사가 없어요</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
<!-- // 챗봇 설문 섹션 -->