<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>한달 기준으로 <br>통화는 얼마나 사용하세요?</p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 요금제 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supCall" value="400" />
					<span class="rdo"><span>한달 기준 400분 이상</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supCall" value="200" />
					<span class="rdo"><span>한달 기준 200분 미만</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supCall" value="100" />
					<span class="rdo"><span>한달 기준 100분 미만</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="supCall" value="30" />
					<span class="rdo"><span>통화는 거의 안해요</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
