<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>고객님! <br>
				알뜰폰 요금제로<br>
				변경하실 예정이세요?
			</p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 챗봇 설문 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="hostType" value="mvno"/>
					<span class="rdo"><span>알뜰폰으로 바꾸고 싶어요.</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="hostType" value="mno"/>
					<span class="rdo type-icn"><span>
						<i class="ui-icn icn-h20-sk" aria-label="SKT"></i>
						<i class="ui-icn icn-h20-kt" aria-label="KT"></i>
						<i class="ui-icn icn-h20-lgu-02" aria-label="LG U+"></i>
						를 계속 쓸 거예요.
					</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="hostType" value="all"/>
					<span class="rdo"><span>둘 다 알아보고 싶어요.</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
<!-- // 챗봇 설문 섹션 -->
