<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>인터넷 결합 상품도 필요하세요?</p>
			<p>세모통에서 알뜰폰 구매하시고, <br>인터넷 결합하면 <em>특별한 혜택</em>을 드려요!</p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 챗봇 설문 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="combination" value="1"/>
					<span class="rdo"><span>필요해요!</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="combination" value="0"/>
					<span class="rdo"><span>필요하지 않아요</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
<!-- // 챗봇 설문 섹션 -->

<!-- 이벤트 섹션 -->
<section class="cb-event-sec">
	<div class="sec-inner">
		<div class="swiper event-swiper">
			<div class="swiper-wrapper" id="banner-area">
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>
<!-- // 이벤트 섹션 -->