<!-- 모통봇 소개 섹션 -->
<section class="cb-intro-sec">
	<div class="sec-inner">
		<div class="intro-img">
			<i class="ui-icn icn-62-motong" aria-hidden="true"></i>
		</div>
		<div class="intro-con">
			<p>지금 월 통신요금으로 얼마를 내시나요?</p>
			<p>통신요금은 기기 할부금을 <br>제외한 금액을 알려주세요.</p>
		</div>
	</div>
</section>
<!-- // 모통봇 소개 섹션 -->

<!-- 챗봇 설문 섹션 -->
<section class="cb-survey-sec">
	<div class="sec-inner">
		<ul class="survey-list">
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="price" value="7"/>
					<span class="rdo"><span>7만원 이상</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="price" value="5.5" />
					<span class="rdo"><span>5~6만원 대</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="price" value="3.5" />
					<span class="rdo"><span>3~4만원 대</span></span>
				</label>
			</li>
			<li class="survey-item">
				<label class="ui-rdo survey-rdo">
					<input type="radio" name="price" value="1.5" />
					<span class="rdo"><span>1~2만원 대</span></span>
				</label>
			</li>
		</ul>
	</div>
</section>
<!-- // 챗봇 설문 섹션 -->