<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ucomp.web.point.mapper.PointHistoryMapper">
	
	<sql id="Point_History_Column_list">
			 h.id
			,u.username ,kakao_user_id, AES_DECRYPT(FROM_BASE64(u.phone_number), 'tb_mbm_user') phoneNumber
			,p.user_id
			,h.point_id
			,h.dr_cr
			,GET_CODE_NAME('point_drcr', h.dr_cr) AS drCrName						/* DR:차변, CR:대변 */
			,h.cr_point_type
			,GET_CODE_NAME('point_type', h.cr_point_type) AS crPointTypeName		/* 대변, 적립 자본증가 */
			,h.dr_point_type
			,GET_CODE_NAME('point_type', h.dr_point_type) AS drPointTypeName		/* 차변, 지급 소멸 */
			,h.admin_gift_yn
			,h.amount
			,h.avail_amount
			,h.memo

			,h.expiration_period_yn
			,h.create_date
			,h.create_id
			,GET_ADMIN_USER_NM(h.create_id) AS createName
	</sql>
	<sql id="PointHistoryWhereInfo">
		<where>
			
			
			<if test='searchUserId != null and searchUserId !=""'>
				AND p.user_id = #{searchUserId}
			</if>
			<if test='searchPointId != null and searchPointId !=""'>
				AND h.point_id = #{searchPointId}
			</if>
			<if test='searchNpayId != null and searchNpayId !=""'>
				AND h.npay_id = #{searchNpayId}
			</if>
			<if test='searchCashId != null and searchCashId !=""'>
				AND h.cash_id = #{searchCashId}
			</if>
			
			<if test='adminGiftYn != null and adminGiftYn !=""'>
			AND h.admin_gift_yn = #{adminGiftYn}
			</if>
			<if test='drCr != null and drCr !=""'>
			AND h.dr_cr = #{drCr}
			</if>
			<if test='pointType != null and pointType !=""'>
			AND (
				 h.cr_point_type IN <foreach item="scoreCr" index="index" collection="_parameter.pointType.split(',')" open="(" separator="," close=")"> #{scoreCr} </foreach>
				 OR
				 h.dr_point_type IN <foreach item="scoreDr" index="index" collection="_parameter.pointType.split(',')" open="(" separator="," close=")"> #{scoreDr} </foreach>
				 )
			</if>
			<if test='keyword != null and keyword !=""'>
			AND (u.username LIKE CONCAT('%', #{keyword}, '%') OR u.kakao_user_id LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<!-- 기간 조회-->
			<if test='searchStartDt != null and searchStartDt !=""'>
			AND h.create_date  <![CDATA[>=]]> #{searchStartDt}
			</if>
			<if test='searchEndDt != null and searchEndDt !=""'>
			AND h.create_date <![CDATA[<=]]> #{searchEndDt}
			</if>
		</where>
	</sql>
	
	
	<select id="getPointHistory" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDTO" resultType="kr.co.ucomp.web.point.entity.PointHistoryEntity">
		/* getPointHistory */
		SELECT
		<include refid="Point_History_Column_list" />
		FROM tb_mbm_user u
		INNER JOIN tb_mbm_point 				p ON u.id = p.user_id
		INNER JOIN tb_mbm_point_history 		h ON p.id = h.point_id
		<include refid="PointHistoryWhereInfo" />
		<choose>
			<when test="searchOrderType == 'ASC'">ORDER BY h.id ASC</when>
			<otherwise> ORDER BY h.id DESC</otherwise>
		</choose>
		LIMIT #{offset}, #{recordSize}
	</select>
	
	<select id="getPointHistoryCount" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDTO" resultType="integer">
		/* getPointHistoryCount */
		SELECT
			count(1)
		FROM tb_mbm_user u
		INNER JOIN tb_mbm_point 			p ON u.id = p.user_id
		INNER JOIN tb_mbm_point_history 	h ON p.id = h.point_id
		<include refid="PointHistoryWhereInfo" />
	</select>
	
	
	
	<select id="getPointHistoryById" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDTO" resultType="kr.co.ucomp.web.point.entity.PointHistoryEntity">
		SELECT
		<include refid="Point_History_Column_list" />
		FROM tb_mbm_user u
		INNER JOIN tb_mbm_point 			p ON u.id = p.user_id
		INNER JOIN tb_mbm_point_history 	h ON p.id = h.point_id
		WHERE h.id = #{searchHistoryId}
	</select>
	
	<update id="update"  parameterType="kr.co.ucomp.web.point.entity.PointHistoryEntity" >
		UPDATE tb_mbm_point_history 
		SET	
 			 dr_cr                  = #{drCr				}
			,dr_point_type          = #{drPointType			}
			,avail_amount           = #{availAmount			}
			,memo                   = #{memo				}
		WHERE id = #{id}
	</update>
	
	<insert id="insert"  parameterType="kr.co.ucomp.web.point.entity.PointHistoryEntity" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		/* insert PointHistoryEntity */
		INSERT 
		INTO tb_mbm_point_history (
								  point_id, dr_cr, cr_point_type, dr_point_type
								, admin_gift_yn
								
								, amount
								, avail_amount	/* 첫 입력 amount와 같은 값 입력 이 컬럼만을 계산식에 사용 */
								, memo
								
								, create_date
								, create_id
		)VALUES(	
				 #{pointId}
				,#{drCr}
				,#{crPointType}
				,#{drPointType}
				,#{adminGiftYn}
				
				,#{amount}
				,#{amount}
				,#{memo}
				
				,NOW()
				,#{createId}
		);
	</insert>
	
	<insert id="insertDetail"  parameterType="kr.co.ucomp.web.point.entity.PointHistoryDetailEntity" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
		/* PointHistoryDetailEntity */
		INSERT 
		INTO tb_mbm_point_history_detail (
								  history_id
								, dr_point_type
								
								, tot_amt
								, act_amt
								, rem_amt
								
								, npay_id
								, cash_id
								
								, create_date
								, create_id
		)VALUES(	
				 #{historyId}
				,#{drPointType}
				
				,#{totAmt}
				,#{actAmt}
				,#{remAmt}
				
				,#{npayId}
				,#{cashId}
				
				,NOW()
				,#{createId}
		);
	</insert>
	
	<!-- for Detail 		for Detail			for Detail			for Detail		for Detail		for Detail		for Detail			for Detail -->
	<sql id="Point_History_Detail_Column_list">
			 p.user_id
			,h.point_id
			,h.id AS historyId
			
			,h.dr_cr
			,h.dr_point_type
			
			,h.amount
			,h.avail_amount
			
			,d.tot_amt
			,d.act_amt
			,d.rem_amt
			
			,d.npay_id
			,d.cash_id
			,d.create_date
			,d.create_id
	</sql>
	<sql id="PointHistoryDetailWhereInfo">
		<where>
			<if test='searchNpayId != null and searchNpayId !=""'>
				AND d.npay_id = #{searchNpayId}
			</if>
			<if test='searchCashId != null and searchCashId !=""'>
				AND d.cash_id = #{searchCashId}
			</if>
		</where>
	</sql>
	
	<!-- DetailEntity가 아니다.  PointHisDetCalcEntity 계산을 위한 별도 Entity 사용 -->
	<select id="getPointHistoryDetail" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDetailDTO" resultType="kr.co.ucomp.web.point.entity.PointHisDetCalcEntity">
		/* getPointHistoryDetail */
		SELECT
		<include refid="Point_History_Detail_Column_list" />
		FROM tb_mbm_user u
		INNER JOIN tb_mbm_point 				p ON u.id = p.user_id
		INNER JOIN tb_mbm_point_history 		h ON p.id = h.point_id
		LEFT  JOIN tb_mbm_point_history_detail 	d ON h.id = d.history_id
		<include refid="PointHistoryDetailWhereInfo" />
		ORDER BY h.id, d.id ASC
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="getPointTotInfo" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDTO" resultType="kr.co.ucomp.web.point.entity.PointHistoryEntity">
		/* getPointTotInfo */
		SELECT COALESCE(inBoundSum, 0) AS inBoundSum
			, COALESCE(dedSum, 0) AS dedSum
			, COALESCE(remSum, 0) AS remSum
			, COALESCE((inBoundSum - remSum), 0) AS outBoundSum
		FROM (
				SELECT
					SUM( CASE when cr_point_type != 'DED' THEN amount END ) AS inBoundSum
					,SUM( CASE when cr_point_type = 'DED' THEN amount END ) AS dedSum
					,SUM( CASE when cr_point_type = 'DED' THEN 0 ELSE avail_amount END ) AS remSum
				FROM       tb_mbm_point 			p 
				INNER JOIN tb_mbm_point_history 	h ON p.id = h.point_id
				AND p.user_id = #{searchUserId}
		) a
	</select>
	
	
			
	<select id="getPointHistoryNew" parameterType="kr.co.ucomp.web.point.dto.PointHistoryDTO" resultType="kr.co.ucomp.web.point.entity.PointHistoryEntity">
		/* getPointHistoryNew */
		SELECT 
		    h.id, 
		    p.user_id,
		    h.point_id,
		    h.dr_cr,
		    GET_CODE_NAME('point_drcr', h.dr_cr) AS drCrName, 
		    h.cr_point_type,
		    GET_CODE_NAME('point_type', h.cr_point_type) AS crPointTypeName,
		    
		    h.amount AS display_amount,
		    h.avail_amount,
		    
		    NULL AS act_amt,
		    NULL AS detailDrPointTypeName,
		    NULL AS dr_point_type,
		    
		    h.create_date,
		    1 AS sort_order
		FROM     tb_mbm_point p 
		INNER JOIN tb_mbm_point_history h ON p.id = h.point_id
		WHERE p.user_id = #{searchUserId}
		
		UNION ALL
		
		SELECT 
		    h.id, 
		    p.user_id,
		    h.point_id,
		    h.dr_cr,
		    GET_CODE_NAME('point_drcr', h.dr_cr) AS drCrName, 
		    h.cr_point_type,
		    GET_CODE_NAME('point_type', h.cr_point_type) AS crPointTypeName,

		    NULL AS display_amount,
		    NULL AS avail_amount,
		
		    d.act_amt,
		    GET_CODE_NAME('point_type', d.dr_point_type) AS detailDrPointTypeName,
		    d.dr_point_type,
		
		    h.create_date,
		    2 AS sort_order
		FROM tb_mbm_point p 
		INNER JOIN tb_mbm_point_history h ON p.id = h.point_id
		LEFT JOIN  tb_mbm_point_history_detail d ON h.id = d.history_id
		WHERE IFNULL(act_amt, 0) != 0
		AND p.user_id = #{searchUserId}
		
		ORDER BY id DESC, create_date, sort_order
	</select>
	


</mapper>
