<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layout/default_layout}"
  layout:fragment="Content"
  th:with="menuIdGroup ='05',menuId ='03'"
>
  <th:block layout:fragment="css"> </th:block>

  <script th:inline="javascript">
    var orderReq = /*[[${orderReq}]]*/ {};
    console.log("orderReq:", orderReq);
  </script>

  <!-- index.html 고유 스크립트 추가 -->
  <th:block layout:fragment="script">
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {});

      function moveList() {
        window.location.href = "/pbm/order/list";
      }

      function openViewPlanDetail(planId) {
        window.open("/pbm/plan/view?searchId=" + planId);
      }

      function sendOrder() {
        var params = {
          orderId: $("#orderId").val(),
          companyCd: $("#companyId").val(),
        };
        console.log(params);

        $.ajax({
          url: "/pbm/order/orderSend",
          type: "POST",
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(params),
          success: function (data) {
            if (data.code == "200" && data.data.errMsg == "sucess") {
              showAlert("전송되었습니다.");
              $("#btnOrderSend").hide();
            } else {
              showAlert(data.data.errMsg);
            }
          },
          error: function (request, status, error) {
            showAlert(error);
          },
          complete: function () {
            // $('#loading').addClass('display-none');
          },
        });
      }
    </script>
  </th:block>

  <div class="main-content">
    <div class="container-fluid">
      <div class="page-header d-flex justify-content-between align-items-start">
        <div>
          <div class="location mb-2">
            <small class="text-secondary">
              <i class="fas fa-home me-1"></i>
              <a href="/mbm/adminuser/list">홈</a> > <a href="/pmb/plan-request/list">신청관리</a> > <a href="/pbm/order/list">간편개통 신청내역</a>
            </small>
          </div>
          <h2 class="page-title fs-4 mb-4">간편개통 신청내역 상세</h2>
        </div>
      </div>

      <!-- 등록 폼 섹션 -->
      <input type="hidden" id="orderId" th:value="${orderReq?.id}" />
      <input type="hidden" id="companyId" th:value="${orderReq?.companyId}" />

      <div class="search-section detail">
        <div class="form-row full-width">
          <div class="form-label">이름</div>
          <div class="form-control-wrap" th:text="${orderReq.orderNm}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">신청번호</div>
          <div class="form-control-wrap" th:text="${orderReq.orderSeq}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">현재 상태</div>
          <div class="form-control-wrap" th:text="${orderReq.orderStateNm}"></div>
        </div>

        <div class="form-row">
          <div class="form-label">신청일</div>
          <div class="form-control-wrap" th:text="${@commonUtils.formatDateTime(orderReq.orderDttm)}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">가입유형</div>
          <div class="form-control-wrap" th:if="${orderReq.entrType == '01'}">신규가입</div>
          <div class="form-control-wrap" th:if="${orderReq.entrType == '02'}">번호이동</div>
        </div>

        <div class="form-row">
          <div class="form-label">연락처</div>
          <div class="form-control-wrap" th:text="${orderReq.orderPhone}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">신분증 정보</div>
          <div class="form-control-wrap" th:if="${orderReq.disAuthJoinDiv =='01'}">주민등록증 + [[${orderReq.authOrgDt}]]</div>
          <div class="form-control-wrap" th:if="${orderReq.disAuthJoinDiv =='02'}">운전면허증 + [[${orderReq.driverNumber}]] + [[${orderReq.driverSecureNum}]]</div>
        </div>

        <div class="form-row full-width">
          <div class="form-label">주소</div>
          <div class="form-control-wrap">[[${orderReq.orderAddr}]]</div>
        </div>
        <div class="form-row full-width">
          <div class="form-label">유심</div>
          <div class="form-control-wrap" th:if="${orderReq.usimPayType =='01'}">미보유</div>
          <div class="form-control-wrap" th:if="${orderReq.usimPayType =='02'}">보유</div>
          <div class="form-control-wrap" th:if="${orderReq.usimPayType =='03'}">ESIM</div>
        </div>

        <div class="form-row full-width" th:if="${orderReq.usimPayType =='01'}">
          <div class="form-label">유심배송지</div>
          <div class="form-control-wrap" th:text="${orderReq.recvAddr}"></div>
        </div>

        <div class="form-row full-width" th:if="${orderReq.usimPayType =='02'}">
          <div class="form-label">유심정보</div>
          <div class="form-control-wrap" th:text="${orderReq.usimSerialNum}"></div>
        </div>
        <div class="form-row full-width" th:if="${orderReq.usimPayType =='03'}">
          <div class="form-label">ESIM 단말정보</div>
          <div class="form-control-wrap">
            단말 모델 : [[${orderReq.esimModel}]] <br />
            단말 용량 : [[${orderReq.esimMemory}]] <br />
            일련번호 : [[${orderReq.esimNumber}]] <br />
            IMEI 1 : [[${orderReq.esimImei1}]] <br />
            IMEI 2 : [[${orderReq.esimImei2}]] <br />
            EID : [[${orderReq.esimEid}]] <br />
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">납부방법</div>
          <div class="form-control-wrap" th:if="${orderReq.settleMethod == '01'}">은행 계좌이체</div>
          <div class="form-control-wrap" th:if="${orderReq.settleMethod == '02'}">신용카드</div>
        </div>
        <div class="form-row">
          <div class="form-label">납부정보</div>
          <div class="form-control-wrap" th:if="${orderReq.settleMethod == '01'}">
            은행명 : [[${orderReq.bankNm}]]<br />
            계좌번호 : [[${orderReq.bankAcctNo}]]
          </div>
          <div class="form-control-wrap" th:if="${orderReq.settleMethod == '02'}">
            카드사 : [[${orderReq.cardNm}]]<br />
            카드번호 : [[${orderReq.cardNum}]]<br />
            유효기간 : [[${orderReq.cardValidDt}]]
          </div>
        </div>

        <div class="form-row">
          <div class="form-label">요금청구서<br />수령방법</div>
          <div class="form-control-wrap" th:if="${orderReq.billCd =='02'}">모바일</div>
          <div class="form-control-wrap" th:if="${orderReq.billCd =='03'}">이메일</div>
        </div>
        <div class="form-row">
          <div class="form-label">이메일</div>
          <div class="form-control-wrap" th:text="${orderReq.orderEmail}"></div>
        </div>

        <div class="form-row">
          <div class="form-label">MNO</div>
          <div class="form-control-wrap" th:text="${orderReq.telecomCd}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">사업자</div>
          <div class="form-control-wrap" th:text="${orderReq.companyNm}"></div>
        </div>

        <div class="form-row full-width">
          <div class="form-label">요금제명</div>
          <div class="form-control-wrap"><a href="#" th:text="${orderReq.planNm}" th:onclick="|openViewPlanDetail('${orderReq.planId}')|"></a></div>
        </div>

        <div class="form-row">
          <div class="form-label">기본료</div>
          <div class="form-control-wrap" th:text="${#numbers.formatInteger(orderReq.basicPrice, 0, 'COMMA') + '원'}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">할인료</div>
          <div class="form-control-wrap" th:text="${#numbers.formatInteger(orderReq.eventDiscPrice, 0, 'COMMA') + '원'}"></div>
        </div>

        <div class="form-row">
          <div class="form-label">최종금액</div>
          <div class="form-control-wrap" th:text="${#numbers.formatInteger(orderReq.afterPrice, 0, 'COMMA') + '원'}"></div>
        </div>
        <div class="form-row">
          <div class="form-label">할인기간</div>
          <div class="form-control-wrap" th:text="${orderReq.promotionPeriod}"></div>
        </div>
        <div class="form-row full-width">
          <div class="form-label">
            포인트 요금제<br />
            여부
          </div>
          <div class="form-control-wrap" th:if="${orderReq.pointPlanYn == 0}">N</div>
          <div class="form-control-wrap" th:unless="${orderReq.pointPlanYn == 0}">Y</div>
        </div>
        <th:block th:unless="${orderReq.recomSp == 'N'}">
          <div class="form-row">
            <div class="form-label">추천인 여부</div>
            <div class="form-control-wrap" th:if="${orderReq.recomSp == '1'}">친구추천</div>
            <div class="form-control-wrap" th:if="${orderReq.recomSp == '2'}">영업추천</div>
          </div>
          <div class="form-row">
            <div class="form-label">추천인 ID</div>
            <div class="form-control-wrap" th:if="${orderReq.recomSp == '1'}">[[${orderReq.recomUserWEBId}]]</div>
            <div class="form-control-wrap" th:if="${orderReq.recomSp == '2'}">[[${orderReq.recomUserAdminId}]]</div>
          </div>
        </th:block>

        <div class="form-row full-width">
          <div class="form-label">상태별 날짜</div>
          <div class="form-control-wrap">
            <th:block th:each="itm : ${orderStateList}">
              <p>[[${itm.createDate}]] [[${itm.orderStateNm}]]</p>
            </th:block>
          </div>
        </div>

        <div class="form-row full-width">
          <div class="form-label">개통 메모</div>
          <div class="form-control-wrap" th:utext="${orderReq.orderCallCont}"></div>
        </div>
      </div>
      <!-- End Detail -->

      <!-- 버튼 영역 -->
      <div class="d-flex justify-content-center gap-2 mt-4">
        <button type="button" class="btn btn-lg btn-dark px-4 btn-sm" onclick="moveList()">목록</button>
        <button class="btn btn-lg btn-dark px-4 btn-sm" onclick="sendOrder();" th:if="${orderReq.orderState eq '00' && orderSendYn eq 'Y'}" id="btnOrderSend">주문전송</button>
      </div>
    </div>
  </div>
</html>
