<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/default_layout}"
	  layout:fragment="Content"
	  th:with="menuIdGroup ='05',menuId ='03'">
	  
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> 

<script id="searchlistTmpl" type="text/x-jquery-tmpl">
	<tr>
		<!-- 번호 -->
		<td>${id}</td>
		<td>${orderStateNm}</td>
		<td>{{if entrType =='01'}} 신규가입 {{else}} 번호이동{{/if}}</td>
		<td><a href="/pbm/order/detail?orderId=${id}">{{html maskName(orderNm)}}</a> </td>
		<td>{{html maskPhoneNumber(orderPhone)}}</td>
		<td>${telecomCd}</td>
		<td>${companyNm}</td>
		<td><a href="/pbm/order/detail?orderId=${id}">${planNm}</a></td>
		<td>${recomUserId}</td>
		<td>{{if pointPlanYn}} Y {{else}} N{{/if}}</td>
		<td>{{html formatDateTime(orderDttm)}}</td>
		<td>${openCompDttm}</td>
	</tr>
</script>
<script type="text/javascript">
	$(document).ready(function(){
		//$("#defaultWeek").trigger("click");
		$("#keyword").focus();
		//페이징 기본(필수)
		currentPage = 1;
		searchList();
	})
	

	
	function renderPage(page) {
		currentPage = page;
		searchList();
	}
	

	
	
	function toggleSearchInit(){
		$("#keyword").val('');
		periodButtonInit();

		$("#searchEntrTypeAll").prop('checked', true); // 가입 유형
		$("#searchPointPlanYnAll").prop('checked', true); // 포인트 요금제 여부
		
		$('#searchImageBadgeSimpleOpenAll').prop('checked', true);	//간편개통 구분
		$('#searchPointPlanYnAll').prop('checked', true);	//포인트 요금제 구분
		
		selMno("");
		selstate("");
		selCompany("");
		selRecomSp("");
		
		currentPage = 1;
	}
	
	function searchList() {
		
		//페이징 기본(필수)
		var page = currentPage;
		if(page =="" || page == null) page =1;
		var _recordSize =  parseInt($("#recordSize").val());
		

		
		var params = {
				keyword : $("#keyword").val(),
				searchCompanyList : getCheckedCompanies("searchCompanyList"),
				searchMno : getCheckedCompanies("searchMno"),
				searchRecomSp : getCheckedCompanies("searchRecomSp"),
				searchOrderState : getCheckedCompanies("searchOrderState"),
		 		searchStartDt : $("#searchStartDt").val(),
		 		searchEndDt : $("#searchEndDt").val(),
		 		searchPointPlanYn :  $("input[name='searchPointPlanYn']:checked").val(),
		 		searchEntrType :  $("input[name='searchEntrType']:checked").val(),
		 		page : page,
		 		recordSize : _recordSize
		}
		
		$.ajax({
				url : '/pbm/order/ajaxList'
				,type : 'POST'
				,dataType : "json"
				,contentType:"application/json"
				,data : JSON.stringify(params)
				,success: function (data) {
					console.log(data);					
					$('#searchList').empty();
					var totalCnt = data.totalCnt;
					
					if(totalCnt > 0) {
						$('#searchlistTmpl').tmpl(data.data).appendTo('#searchList');
						renderPagination(page, totalCnt, _recordSize)
					}
					$('#totla_count').html("총 "+totalCnt+"건");
				},
				error : function(request, status, error){
					alert(error);
				},
				complete:function(){
					// $('#loading').addClass('display-none');
				}
		});
	}
	


	function selMno(id) {

		if(id=="") {
			$("input[id^='searchMno']").prop("checked", false);
			$("#searchMnoAll").prop("checked", true);
		} else {
			$("#searchMnoAll").prop("checked", false);
		}
	}
	
	
	function selstate(id) {

		if(id=="") {
			$("input[id^='searchOrderState']").prop("checked", false);
			$("#searchOrderStateALL").prop("checked", true);
		} else {
			$("#searchOrderStateALL").prop("checked", false);
		}
	}
	
	function selCompany(id) {

		if(id=="") {
			$("input[id^='searchCompanyList']").prop("checked", false);
			$("#searchCompanyListALL").prop("checked", true);
		} else {
			$("#searchCompanyListALL").prop("checked", false);
		}
	}
	
	function selRecomSp(id) {

		if(id=="") {
			$("input[id^='searchRecomSp']").prop("checked", false);
			$("#searchRecomSpAll").prop("checked", true);
		} else {
			$("#searchRecomSpAll").prop("checked", false);
		}
	}
	
	
	function downloadExcel() {
		//페이징 기본(필수)
		var page = currentPage;
		if(page =="" || page == null) page =1;
		var _recordSize =  999;
				
		var params = {
				keyword : $("#keyword").val(),
				searchCompanyList : getCheckedCompanies("searchCompanyList"),
				searchMno : getCheckedCompanies("searchMno"),
				searchRecomSp : getCheckedCompanies("searchRecomSp"),
				searchOrderState : getCheckedCompanies("searchOrderState"),
		 		searchStartDt : $("#searchStartDt").val(),
		 		searchEndDt : $("#searchEndDt").val(),
		 		searchPointPlanYn :  $("input[name='searchPointPlanYn']:checked").val(),
		 		searchEntrType :  $("input[name='searchEntrType']:checked").val(),
		 		page : page,
		 		recordSize : _recordSize
		}
		var _url = '/pbm/order/excelDown';
		
		downloadExcelProc(params,_url,"simpleOpenList");
		
	}
	
	
	function changeCombo(){
		currentPage = 1;
		searchList()
	}
	

</script>


</th:block>

<div class="main-content">
	
	<div class="container-fluid">
		<!-- 로케이션 & 제목 영역 추가 -->
		<div class="page-header mb-4">
			<div class="location mb-2">
				<small class="text-secondary">
					<i class="fas fa-home me-1"></i>
					<a href="/mbm/adminuser/list">홈</a> > <a href="/pmb/plan-request/list">신청관리</a> > <a href="/pbm/order/list">간편개통 신청내역</a>
				</small>
			</div>
			<h2 class="page-title fs-4 mb-4">
				간편개통관리
			</h2>
		</div>
		
		<!-- 검색 구간 -->
		<div class="search-section">
			<div class="col-12 mb-2">
				<div class="form-row full-width">
					<div class="form-label mb-0">검색어</div>
					<div class="position-relative col-9">
						<i class="fas fa-search position-absolute" style="left: 16px; top: 15.5px; color: #94a3b8;"></i>
						<input type="text" class="form-control ps-5" placeholder="검색어를 입력하세요" id="keyword" name="keyword">
					</div>
				</div>
			</div>
			 <!-- 상태 구분 -->
             <div class="form-row full-width mb-3">
                 <div class="form-label mb-0">상태 구분</div>
                 <div class="form-control-wrap">
                     <div class="form-check-group">
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderStateALL" value="" checked onclick="selstate('');" >
                             <label class="form-check-label" for="searchOrderStateALL">전체</label>
                         </div>
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState07" value="00" onclick="selstate('00');">
                             <label class="form-check-label" for="searchOrderState07">접수대기</label>
                         </div>                         
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState01" value="01" onclick="selstate('01');">
                             <label class="form-check-label" for="searchOrderState01">접수</label>
                         </div>
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState02" value="02" onclick="selstate('02');">
                             <label class="form-check-label" for="searchOrderState02">접수완료</label>
                         </div>
                          <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState03" value="03" onclick="selstate('03');">
                             <label class="form-check-label" for="searchOrderState03">배송중</label>
                         </div>
                          <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState04" value="06" onclick="selstate('06');">
                             <label class="form-check-label" for="searchOrderState04">개통완료</label>
                         </div>
                          <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState05" value="99" onclick="selstate('99');">
                             <label class="form-check-label" for="searchOrderState05">개통취소</label>
                         </div>
                         <div class="form-check">
                             <input class="form-check-input" type="checkbox" name="searchOrderState" id="searchOrderState06" value="98" onclick="selstate('98');">
                             <label class="form-check-label" for="searchOrderState06">개통불가</label>
                         </div>
                     </div>
                 </div>
             </div>
			<div class="row align-items-center mb-2">
				<div class="form-row">
					<div class="form-label mb-0">신청일</div>
					<div class="d-flex align-items-center gap-3">
						<div class="d-flex align-items-center gap-2">
							<input type="date" class="form-control" style="width: 150px" id="searchStartDt">
							<span class="text-secondary">-</span>
							<input type="date" class="form-control" style="width: 150px" id="searchEndDt">
						</div>
						<div class="d-flex gap-2">
							<button class="period-button" value="0">오늘</button>
							<button class="period-button" value="7" id="defaultWeek">1주일</button>
							<button class="period-button" value="30">1개월</button>
							<button class="period-button" value="90">3개월</button>
							<button class="period-button" value="180">6개월</button>
							<button class="period-button" value="365">1년</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 검색 구간 -->


			<div id="detailSearchArea" class="col-12" style="display: none;">
				<!-- 가입 유형 -->
				<div class="row align-items-center mb-3">
                     <div class="col-12">
                         <div class="d-flex align-items-center gap-3">
                             <div class="form-label mb-0">가입 유형</div>
                             <div class="radio-group">
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchEntrType" id="searchEntrTypeAll" value="" checked>
                                     <label class="form-check-label" for="searchEntrTypeAll">전체</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchEntrType" id="searchEntrType01" value="01">
                                     <label class="form-check-label" for="searchEntrType01">신규가입</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchEntrType" id="searchEntrType02" value="02">
                                     <label class="form-check-label" for="searchEntrType02">번호이동</label>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
			 	<!-- MNO -->
                 <div class="form-row mb-3">
                     <div class="form-label mb-0">MNO</div>
                     <div class="form-control-wrap">
                         <div class="form-check-group">
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchMnoAll" value="" checked onclick="selMno('');">
                                 <label class="form-check-label" for="searchMnoAll">전체</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchMno01" name="searchMno" value="SKT" onclick="selMno('SKT');" >
                                 <label class="form-check-label" for="searchMno01">SKT</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchMno02" name="searchMno" value="KT" onclick="selMno('KT');" >
                                 <label class="form-check-label" for="searchMno02">KT</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchMno03" name="searchMno" value="LGU" onclick="selMno('LGU');" >
                                 <label class="form-check-label" for="searchMno03">U+</label>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- 포인트 요금제 구분 -->
				<div class="row align-items-center mb-3">
                     <div class="col-12">
                         <div class="d-flex align-items-center gap-3">
                             <div class="form-label mb-0">포인트 요금제<br> 구분</div>
                             <div class="radio-group">
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchPointPlanYn" id="searchPointPlanYnAll" value="" checked>
                                     <label class="form-check-label" for="searchPointPlanYnAll">전체</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchPointPlanYn" id="searchPointPlanYn01" value="1">
                                     <label class="form-check-label" for="searchPointPlanYn01">Y</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="searchPointPlanYn" id="searchPointPlanYn02" value="0">
                                     <label class="form-check-label" for="searchPointPlanYn02">N</label>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- 추천인 구분 -->
                 <div class="form-row mb-3">
                     <div class="form-label mb-0">추천인 구분</div>
                     <div class="form-control-wrap">
                         <div class="form-check-group">
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchRecomSpAll" name="searchRecomSp" value="" checked onclick="selRecomSp('');">
                                 <label class="form-check-label" for="searchRecomSpAll">전체</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchRecomSp01" name="searchRecomSp" value="N" onclick="selRecomSp('N');" >
                                 <label class="form-check-label" for="searchRecomSp01">추천없음</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchRecomSp02" name="searchRecomSp" value="1" onclick="selRecomSp('1');" >
                                 <label class="form-check-label" for="searchRecomSp02">친구 추천</label>
                             </div>
                             <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="checkbox" id="searchRecomSp03" name="searchRecomSp" value="2" onclick="selRecomSp('2');" >
                                 <label class="form-check-label" for="searchRecomSp03">영업</label>
                             </div>
                         </div>
                     </div>
                 </div>
                  <!-- 사업자 -->
		           <div class="form-row mb-3" id="searchDvCompay" th:unless="${session.loginUser.authType == 'HOST'}">
		               <div class="form-label mb-0">사업자</div>
		               <div class="form-control-wrap">
		                   <div class="form-check-group">
								<!-- 관리자 권한 사용자 -->
		                       <div class="form-check form-check-inline">
		                           <input class="form-check-input" type="checkbox" id="searchCompanyListALL" value="" onclick="selCompany('');" checked>
		                           <label class="form-check-label" for="searchCompanyListALL">전체</label>
		                       </div>
		                   	<th:block th:each="item,index : ${compnyList}">    
		                        <div class="form-check form-check-inline">
		                            <input class="form-check-input" type="checkbox" name="searchCompanyList" th:id="${'searchCompanyList' + index.index}"  th:value="${item.id}" th:onclick="|selCompany(${item.id});|">
		                            <label class="form-check-label" th:for="${'searchCompanyList' + index.index}" th:text="${item.name}">KG모바일</label>
		                        </div>
		                       </th:block>
		                   </div>
		               </div>
		           </div>
            </div>

			<div class="row">
				<div class="col-12 text-end mt-2">
					
					<button class="btn btn-primary btn-sm" onclick="searchList();">
						<i class="fas fa-search"></i>
						검색
					</button>
					<button class="btn btn-primary btn-sm me-2" onclick="toggleDetailSearch()">
                        <i class="fas fa-chevron-down"></i>
                        상세검색
                    </button>
					<button class="btn btn-light me-2 btn-sm" onclick="toggleSearchInit()">
						<i class="fas fa-redo"></i>
						초기화
					</button>
				</div>
			</div>
		</div>
		
		
		
		
		<!-- contents 영역 -->
		<div class="table-section">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<div class="d-flex align-items-center gap-3">
					<div class="stats-badge">
						<i class="fas fa-calculator me-1"></i>
						<span id="totla_count">총 450건</span>
					</div>
					<select class="form-select" style="width: 100px" id="recordSize" onchange="changeCombo()">
						<option value="10">10개씩</option>
						<option value="20">20개씩</option>
						<option value="30">30개씩</option>
						<option value="40">40개씩</option>
						<option value="50">50개씩</option>
					</select>
				</div>
								
				<div class="header-actions">
					<button class="btn btn-light btn-sm">
                        <i class="fas fa-download"></i>
                        다운로드
                    </button>
					<div class="custom-dropdown">
						<button class="btn btn-primary btn-sm btnDrop" onclick="goInsert()">
							<i class="fas fa-calculator"></i>
							등록
						</button>
					</div>
				</div>
			</div>
			
			<table class="table custom-table">
				<thead>
					<tr>
					
						<th>No</th>
						<th>상태</th>
						<th>가입유형</th>
						<th>신청자</th>
						<th>연락처</th>
						<th>MNO</th>
						<th>사업자</th>
						<th>요금제</th>
						<th>추천인</th>
						<th>포인트<br>요금제</th>
						<th>신청일</th>
						<th>개통완료일</th>
					</tr>
				</thead>
				<tbody id="searchList">
				</tbody>
			</table>
			
			<div class="d-flex justify-content-left mt-4">
				<ul class="pagination">
				</ul>
			</div>
		</div>
	</div>
</div>