<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/popup_layout}"
	  layout:fragment="Content"
	  th:with="subPageTitle ='카드본인인증'">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
 
 <script>
	
	
	$( document ).ready(function() {
		var certYn = $("#certYn").val();
		var RSLT_CD = $("#RSLT_CD").val();
		var RSLT_MSG = $("#RSLT_MSG").val();
		if(certYn =="Y") {
			alertModalShow("인증 되었습니다.","",setParent);
		} else  {
			alertModalShow("인증에 실패 하였습니다.[" + RSLT_MSG + "]","",setParent);
		}
		
	   
	});
	
	
	function setParent() {
		var certYn = $("#certYn").val();
		
		if (window.opener && !window.opener.closed) {
            window.opener.cardCertComp(certYn);
        } else {
            alert("부모 창을 찾을 수 없습니다.");
        }
		
		window.close();
		self.close();
	} 
	
		
	
 </script>
</th:block>

<!-- Container -->
<main role="main" class="container">
	<input type="text" th:value="${certYn}" id="certYn">
	<input type="text" th:value="${RSLT_CD}" id="RSLT_CD">
	<input type="text" th:value="${RSLT_MSG}" id="RSLT_MSG">

	
</main>

	
</html>